/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-09-18 21:09
    Author     : hxss
*/

* {
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

a {
	display: inline-block;
	color: inherit;
	
    &:hover{
        text-decoration: none;
    }
}

button {
	border: none;
	background-color: transparent;
}

a::-moz-focus-inner, button::-moz-focus-inner {
	outline: none;
	border: none;
}

img {
	width: 100%;
	height: auto;
}

html{
    font-size: 10px;
	font-family: "Museo Sans th";
    font-style: normal;
    color: $clr-grey-2;
	quotes: "\00ab" "\00bb";
	line-height: 1;
}

* {
	font-family: inherit;
}

.wrapper, article {
	width: 90%;
	max-width: 102rem;
	margin: auto;
}

.wrapper, .art-pad {
	padding-left: 2rem;
	padding-right: 2rem;
}

.upc {
	text-transform: uppercase;
}

.btn {
	width: 20rem;
	height: 2.6em;
	line-height: 2.6em;
	border-radius: 1.3em;
	padding: 0 2em;
	font-size: 2rem;
	font-family: Museo Sans fh;
	background-color: $clr-blue-3;
	color: #fff;
	text-align: center;
	
	-webkit-transition: background .4s ease-out, box-shadow .4s ease-out;
	-moz-transition: background .4s ease-out, box-shadow .4s ease-out;
	-o-transition: background .4s ease-out, box-shadow .4s ease-out;
	transition: background .4s ease-out, box-shadow .4s ease-out;
	
	&:hover {
		cursor: pointer;
		background-color: $clr-blue-1;
	}
	
	&.orange {
		background-color: $clr-orange-2;
		
		&:hover {
			background-color: $clr-orange-0;
		}
	}
	
	&.white {
		
		&:hover {
			border: 1px solid $clr-grey-3;
			background-color: #fff;
			color: $clr-grey-3;
		}
	}
	
	&.shadow {
		box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
	}
	
	&.icon {
		position: relative;
		width: 20em;
		height: 3.3em;
		line-height: 3.3em;
		border-radius: 1.65em;
		padding: 0 3em;
		text-align: center;
		
		&:before {
			content: '';
			position: absolute;
			left: 0.9em;
			top: 0.65em;
			display: block;
			width: 2em;
			height: 2em;
			border-radius: 50%;
			background: #fff center center no-repeat;
			background-size: 2em;
		}
		
		&.down:before {
			background-image: url('../../images/icon-arrow-down.png');
		}
	}
	
	&.w-auto {
		width: auto;
	}
}

.more-after {
						
	&:after {
		content: 'читать далее';
		position: absolute;
		left: 1.5rem;
		bottom: 1.5rem;
		display: inline-block;
		height: 1.46em;
		padding-right: 1em;
		font-size: 1.3rem;
		text-transform: uppercase;
		color: $clr-blue-2;
		background: right center no-repeat;
		background-size: 0.6em auto;
		background-image: url('../../images/icon-arrow-right-s.png');
	}
}

.socials {
	margin-top: 2.5rem;

	a {
		width: 3rem;
		height: 3rem;
		background: center top no-repeat;
		background-size: 3rem auto;

		&:hover {
			background-position: center bottom;
		}
	}
}

body > header {
	position: relative;
	z-index: 1;
	
	height: 13rem;
	
	box-shadow: 0 .3rem .5rem rgba(1, 1, 1, 0.2);
	
	.wrapper {
		position: relative;
		height: 100%;
		
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: stretch;
		
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: 1;
			left: 2rem;
			top: 0;
			display: block;
			width: 0;
			height: 999rem;
			border-left: 1px dashed red;
		}
		
		&:after {
			left: auto;
			right: 2rem;
		}
		
		.logo {
			flex-shrink: 0;
			
			position: absolute;
			height: 13rem;
			padding-right: 3.5rem;
			
			background-color: #fff;
			
			display: flex;
			align-items: center;
			
			a {
				display: block;
				width: 21rem;
			}
		}
		
		> *:not(.logo) {
			padding-left: 24.5rem;
		}
			
		.phones {
			height: 7rem;

			display: flex;
			justify-content: flex-end;
			align-items: center;
			white-space: nowrap;

			> *:not(:first-child) {
				margin-left: 4rem;
			}

			h2 {
				font-size: 2rem;
				font-weight: 400;
			}

			.btn {
				width: auto;
				font-size: 1.3rem;
				background-color: $clr-grey-2;

				&:hover {
					background-color: $clr-orange-1;
				}
			}
		}
		
		.menu-spoiler {
			display: none;
		}

		.main-menu {
			height: 6rem;
			border-top: 1px solid #e4e4e4;

			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				font-size: 1.3rem;
				
				&:not(:first-child) {
					margin-left: 1em;
				}

				&:hover {
					color: $clr-orange-0;
				}
			}
		}
	}
}

footer {
	
	.footer-main {
		padding-top: 7.5rem;
		padding-bottom: 3rem;
		background-color: $clr-blue-0;
		
		.footer-menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			color: #fff;

			.menu-item {
				flex-basis: 18rem;
				flex-grow: 1;
				margin-bottom: 3rem;

				&:last-child {
					margin-bottom: 0;
				}

				a:hover {
					color: $clr-blue-2;
				}

				h3 {
					padding-bottom: 2rem;
					border-bottom: 1px solid #fff;
					font-size: 1.5rem;
					font-family: "Museo Sans nh";
					font-weight: 400;
					text-transform: uppercase;
				}

				.menu {
					line-height: 1.2;

					a, p {
						display: block;
						margin-top: 1.5rem;
						font-size: 1.3rem;
						font-family: "Museo Sans fh";
					}

					.cont {

						&:before {
							color: inherit;
							text-transform: none;
						}

						&.address:before {
							content: 'Адрес: ';
						}
					}
				}

				&:not(:last-child) {

					.menu {
						padding-right: 1em;
					}
				}
			}
		}
	}
	
	.footer-copyright {
		padding: 2rem 0;

		p {
			font-size: 1.5rem;
		}
	}
}

section {
	position: relative;
	background: center center no-repeat;
	
	&:first-of-type {
		height: 53rem;
	}
	
	&.bg {
		padding-bottom: 6rem;
	}
	
	&.bg-grey {
		background-color: $clr-grey-6;
		
		article.flex .item {
			background-color: #fff;
		}
	}
	
	&.bg-blue {
		background-color: $clr-blue-2;
		color: #fff;
		
		article {
			
			.img img {
				width: 58rem;
			}
			
			.text h2 {
				color: inherit;
			}
		}
	}
	
	&.bg-blue-0 {
		background-color: $clr-blue-0;
		color: #fff;
		
		header {
			padding: 5rem 0;
			
			article {
				padding: 0;
				
				p {
					margin-bottom: 2.5rem;
					font-size: 2rem;
					font-family: 'Ubuntu Regular';
				}
			}
		}
	}
	
	&.breadcrumbs {
		height: auto;
		font-size: 1.3rem;
		
		article {
			padding: 3rem 2rem 0;

			display: flex;
			justify-content: flex-start;

			a {
				flex-basis: auto;
				flex-grow: 0;
				
				margin: 0;
				
				&:hover {
					color: $clr-blue-2;
				}

				&:not(:last-child):after {
					content: '>';
					display: inline-block;
					margin: 0 1em;
					color: $clr-grey-2;
				}
			}
		}
	}
			
	h1, h2 {
		font-size: 4.5rem;
		font-weight: 400;
		color: $clr-grey-0;

		&.index-H {
			font-size: 4rem;
			font-family: Verdana, Geneva, sans-serif;
		}
	}

	h2 {
		font-size: 3.5rem;

		&.index-H {
			font-size: 2.5rem;
		}
	}
		
	h3 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		color: $clr-grey-0;
	}
	
	header {
		padding: 6rem 5% 4rem 5%;
		text-align: center;
		
		.btn {
			width: 48rem;
		}
	}
	
	article {
		height: 100%;
		padding: 6rem 0;
		line-height: 1.2;
		
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		/*overflow: hidden;*/
		
		&:not(:first-child) {
			padding-top: 0;
		}

		.shrink {
			flex-basis: auto;
		}
		
		> * {
			flex-shrink: 1;
			flex-grow: 1;
			flex-basis: 100%;
			max-width: 100%;
			
			margin: 0 1rem;

/*			&:first-child:not(asdasd) { //для веса
				margin-left: 0;
			}

			&:last-child:not(asdasd) { //для веса
				margin-right: 0;
			}*/
		}
	
		&.flex {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-bottom: 0;
				
			flex-wrap: wrap;
			justify-content: center;
			
			.item {
				flex-basis: 31%;
				max-width: 31.3rem;
				min-width: 30rem;
			
				position: relative;
				
				margin-bottom: 6rem;
				border-radius: .5rem;
				padding: 3rem;
				padding-top: 5rem;
				
				background: -1px -1px no-repeat $clr-grey-7;
				background-size: 1px;
				/*box-shadow: 0 0 1px rgba(1, 1, 1, 0.3);*/
				-webkit-filter: drop-shadow(0 0 1px rgba(1, 1, 1, 0.3));
				filter: drop-shadow(0 0 1px rgba(1, 1, 1, 0.3));

				-webkit-transition: box-shadow .4s ease-out, filter .4s ease-out;
				-moz-transition: box-shadow .4s ease-out, filter .4s ease-out;
				-o-transition: box-shadow .4s ease-out, filter .4s ease-out;
				transition: box-shadow .4s ease-out, filter .4s ease-out;
				transition: filter .4s ease-out;

				&:hover {
					/*box-shadow: 0 1px .5rem rgba(1, 1, 1, 0.4);*/
					-webkit-filter: drop-shadow(0 1px .5rem rgba(1, 1, 1, 0.4));
					filter: drop-shadow(0 1px .5rem rgba(1, 1, 1, 0.4));
				}
					
				.btn {
					position: absolute;
					left: 50%;
					bottom: 3rem;
					margin-left: -10rem;

					&:before {
						content: 'Заказать';
					}
				}
			}
			
			&.price {
				align-items: stretch;
				
				.item {
					padding-bottom: 12rem;
					
					h3 {
						height: 6rem;
						margin-top: 2rem;
						font-size: 2.5rem;
						font-weight: 400;
					}
					
					p {
						margin-top: 1.5rem;
						font-size: 2.5rem;
						
						.cost {
							font-size: 5rem;
							font-family: 'Museo Sans nh';
						}
					}
					
					ul {
						border-top: 1px solid $clr-grey-4;
						list-style-image: url('../../images/icon-check.png');
						font-size: 1.3rem;
						font-family: 'Ubuntu Regular';
						
						&.long {
							font-size: 1.5rem;
						}
						
						li {
							margin-left: 2.5rem;
							margin-top: 1rem;
						}
					}
				
					&.double {
						max-width: 64%;
						padding-top: 3rem;

						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;

						h3 {
							height: auto;
							margin: 0;
						}

						p {
							margin: 0;
						}

						ul {
							flex-grow: 1;
							
							margin-top: 1rem;
							
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-between;

							li {
								flex-basis: 40%;
							}
						}
					}
				}
			}
			
			&.more-services {
				
				.item {
					height: 20rem;
					margin-top: 4rem;
					padding-top: 5.5rem;
					
					&:before {
						content: '';
						position: absolute;
						left: 50%;
						top: -4rem;
						display: block;
						width: 8rem;
						height: 8rem;
						margin-left: -4rem;
						border-radius: 50%;
						background: center center no-repeat $clr-blue-3;
						background-size: auto;
						background-image: inherit;
					}
					
					p {
						font-size: 1.5rem;
						text-align: center;
					}
					
					.btn {
						
						&:after {
							content: '';
							vertical-align: middle;
							display: inline-block;
							width: 2.4rem;
							height: 1.8rem;
							margin-left: 0.5em;
							background: center top no-repeat;
							background-size: 100%;
							background-image: url('../../images/icon-arrow-right.png');
						}
						
						&:hover:after {
							background-position: center bottom;
						}
					}
				}
			}
		}
		
		&.pluses {
			box-sizing: content-box;
			max-width: 98rem;
			padding-top: 6rem;
			border-left: 2rem solid;
			border-right: 2rem solid;
			border-color: transparent;
			background-clip: padding-box;
			background-color: #fff;
			
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: space-around;
			
			&.trnsprnt {
				background-color: rgba(255, 255, 255, .5);
			}
			
			p {
				flex-basis: 18em;
				flex-grow: 1;
				min-height: 4.5rem;
				line-height: 4.5rem;
				margin: 0 3rem 1rem;
				padding-left: 5rem;
				background: left center no-repeat;
				font-size: 1.2rem;
				
				&:empty {
					height: 0;
					min-height: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
				
				i {
					display: inline-block;
					vertical-align: middle;
					line-height: 1.2;
					font-style: normal;
					text-align: left;
				}
			}
			
			&.two-col {
				
				p {
					margin-left: 5rem;
					margin-right: 5rem;
					font-size: 1.5rem;
				}
			}
		}
	}

	.img {
		position: relative;
		align-self: stretch;
		margin: 0 2rem;
		background: center center no-repeat;
		
		&.bg-h {
			background-size: auto 100%;
		}
		
		&.bg-bottom {
			margin-bottom: -6rem;
			background-position: center bottom;
		}
	}

	.text {
		
		&:not(article) {
			margin: 0 2rem;
		
			&:only-child {
				margin: 0;
				border-left: 2rem solid transparent;
				border-right: 2rem solid transparent;
			}
		}

		h1, h2 {
			margin-bottom: 4rem;
		}

		&.hr:before {
			content: '';
			display: block;
			width: 6rem;
			height: 0;
			margin-bottom: 2.5rem;
			border-top: 1px solid $clr-blue-4;
		}

		p {
			margin-bottom: 1rem;
			font-size: 1.5rem;
			font-family: 'Ubuntu Regular';
		}

		.btn {
			margin-top: 4rem;

			&.icon {
				font-size: 1.5rem;
			}
		}
	}
}